body {
  background-color: papayawhip;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.inputField {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.textField {
  min-width: 50%;
  font-size: 1rem;
  margin: 0 0.5em;
  border-radius: 2em;
  padding: 1rem;
  background: none;
  border: black 2px solid;
  outline-color: black;
}

.addButton {
  position: relative;
  right: 60px;
  top: 10px;
  cursor: pointer;
}
.addButton:hover,
.addButton:focus {
  color: deeppink;
}
h1 {
  text-align: center;
  cursor: pointer;
  color: lighten(indigo, 10%);
  text-shadow: 0px 0px 5px deeppink;
  transition: text-shadow 300ms, color 300ms;
  font-size: 3rem;
}

ul {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.item {
  min-width: 60%;
  min-height: 30px;
  font-size: 1rem;
  border-radius: 2em;
  margin-right: 60px;
  padding: 1rem;
  background: none;
  border: black 2px solid;
  outline-color: black;
}
li {
  list-style-type: none;
  margin: 5px;
}
span {
  font-size: x-large;
}
.delete {
  position: absolute;
  left: 70%;
  cursor: pointer;
}
.complete {
  position: absolute;
  left: 65%;
  cursor: pointer;
}
.complete:visited {
  color: green;
}

.complete:hover,
.complete:focus,
.delete:hover,
.delete:focus {
  color: deeppink;
}
.buttons {
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 14px;
  border-radius: 2em;
  padding: 0.75em 1.5em;
  margin: 1rem;
  background: none;
  color: black;
  border: 1px solid;
  letter-spacing: 1px;
  border: black 1px solid;
  transition: 250ms ease-out;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background: deeppink;
}
